In [8]:
import requests 
import json
import sys
import cv2
import matplotlib.pyplot as plt
%matplotlib inline
import pytesseract
import numpy as np
import pandas as pd
import datetime
from PIL import Image
pytesseract.pytesseract.tesseract_cmd = r'C:\Program Files\Tesseract-OCR\tesseract'

In [9]:
def time_msec(time):
    time_split=time.split(':')
    if len(time_split) == 2 :
        sec = int(time_split[0])*60+int(time_split[1])
        return sec*1000
    elif len(time_split) == 3 :
        sec = (int(time_split[0])*60+int(time_split[1]))*60+int(time_split[2])
        return sec*1000

def msec_time(msec):
    sec = msec/1000
    return str(int(sec//60))+':'+str(int(sec%60))

# 1-1. 트위치 채팅 내역 수집

In [210]:
def doubleDigit(num):
    if num < 10 :
        return '0'+str(num)
    else:
        return str(num)

def twichchat(videoId,clientId):
#     videoId = '571178493'
#     clientId = 'vhggq5l1jefc8dtfza2phfc6ih69gs'
    
    videoId = videoId
    clientId = clientId
    
    chat = []
    time = []
    user = []

    nextCursor = ''

    params = {}
    params['client_id'] = clientId

    i = 0
    while True :

        if i == 0 :
            URL = 'https://api.twitch.tv/v5/videos/'+videoId+'/comments?content_offset_seconds=0' 
            i += 1
        else:
            URL = 'https://api.twitch.tv/v5/videos/'+videoId+'/comments?cursor=' 
            URL +=  nextCursor   


        response = requests.get(URL, params=params)

        j = json.loads(response.text)

        for k in range(0,len(j["comments"])):
            timer = j["comments"][k]["content_offset_seconds"]

            timeMinute = int(timer/60)

            if timeMinute >= 60 :
                timeHour = int(timeMinute/60)
                timeMinute %= 60
            else :
                timeHour = int(timeMinute/60)

            timeSec = int(timer%60)

            time.append(doubleDigit(timeHour)+':'+doubleDigit(timeMinute)+':'+doubleDigit(timeSec))
            user.append(j["comments"][k]["commenter"]["display_name"])
            chat.append(j["comments"][k]["message"]["body"])
        if '_next' not in j:
            break

        nextCursor = j["_next"]
    return time

    f = open(videoId+".txt", 'wt', encoding="utf-8")

    for x in range(0, len(time)): 
            f.write('[')
            f.write(str(time[x]))
            f.write(']')
            f.write(' ')
            f.write('<')
            f.write(str(user[x]))
            f.write('>')
            f.write(' ')
            f.write(str(chat[x]))
            f.write("\n")

    f.close()

In [284]:
timedata = twichchat('571178493', 'vhggq5l1jefc8dtfza2phfc6ih69gs')

In [285]:
time = timedata[:]

In [306]:
time

['0:00:04',
 '0:00:05',
 '0:00:07',
 '0:00:07',
 '0:00:08',
 '0:00:09',
 '0:00:12',
 '0:00:19',
 '0:00:19',
 '0:00:21',
 '0:00:34',
 '0:00:34',
 '0:00:39',
 '0:00:41',
 '0:00:42',
 '0:00:45',
 '0:00:47',
 '0:00:47',
 '0:00:48',
 '0:00:49',
 '0:00:51',
 '0:00:52',
 '0:00:55',
 '0:00:56',
 '0:00:58',
 '0:01:01',
 '0:01:02',
 '0:01:02',
 '0:01:03',
 '0:01:06',
 '0:01:06',
 '0:01:07',
 '0:01:08',
 '0:01:08',
 '0:01:09',
 '0:01:11',
 '0:01:12',
 '0:01:12',
 '0:01:13',
 '0:01:14',
 '0:01:14',
 '0:01:14',
 '0:01:15',
 '0:01:15',
 '0:01:16',
 '0:01:16',
 '0:01:16',
 '0:01:18',
 '0:01:19',
 '0:01:19',
 '0:01:20',
 '0:01:20',
 '0:01:20',
 '0:01:21',
 '0:01:21',
 '0:01:22',
 '0:01:22',
 '0:01:22',
 '0:01:22',
 '0:01:23',
 '0:01:24',
 '0:01:26',
 '0:01:26',
 '0:01:26',
 '0:01:26',
 '0:01:28',
 '0:01:28',
 '0:01:28',
 '0:01:29',
 '0:01:29',
 '0:01:30',
 '0:01:30',
 '0:01:30',
 '0:01:31',
 '0:01:32',
 '0:01:33',
 '0:01:33',
 '0:01:33',
 '0:01:33',
 '0:01:34',
 '0:01:34',
 '0:01:37',
 '0:01:37',
 '0:01:37',
 '0:01:38',
 '0:01:38',
 '0:01:38',
 '0:01:39',
 '0:01:39',
 '0:01:40',
 '0:01:41',
 '0:01:41',
 '0:01:43',
 '0:01:43',
 '0:01:45',
 '0:01:45',
 '0:01:45',
 '0:01:46',
 '0:01:46',
 '0:01:46',
 '0:01:48',
 '0:01:48',
 '0:01:48',
 '0:01:48',
 '0:01:48',
 '0:01:49',
 '0:01:49',
 '0:01:51',
 '0:01:51',
 '0:01:53',
 '0:01:53',
 '0:01:53',
 '0:01:54',
 '0:01:54',
 '0:01:54',
 '0:01:54',
 '0:01:54',
 '0:01:54',
 '0:01:55',
 '0:01:56',
 '0:01:56',
 '0:01:57',
 '0:01:58',
 '0:01:59',
 '0:01:59',
 '0:01:59',
 '0:02:00',
 '0:02:01',
 '0:02:02',
 '0:02:02',
 '0:02:03',
 '0:02:04',
 '0:02:05',
 '0:02:06',
 '0:02:06',
 '0:02:07',
 '0:02:07',
 '0:02:07',
 '0:02:08',
 '0:02:08',
 '0:02:08',
 '0:02:10',
 '0:02:10',
 '0:02:11',
 '0:02:11',
 '0:02:11',
 '0:02:13',
 '0:02:15',
 '0:02:15',
 '0:02:15',
 '0:02:15',
 '0:02:16',
 '0:02:16',
 '0:02:16',
 '0:02:17',
 '0:02:18',
 '0:02:19',
 '0:02:19',
 '0:02:19',
 '0:02:20',
 '0:02:20',
 '0:02:20',
 '0:02:20',
 '0:02:21',
 '0:02:22',
 '0:02:22',
 '0:02:22',
 '0:02:22',
 '0:02:22',
 '0:02:22',
 '0:02:24',
 '0:02:24',
 '0:02:24',
 '0:02:25',
 '0:02:25',
 '0:02:25',
 '0:02:25',
 '0:02:26',
 '0:02:27',
 '0:02:28',
 '0:02:28',
 '0:02:28',
 '0:02:28',
 '0:02:28',
 '0:02:28',
 '0:02:28',
 '0:02:29',
 '0:02:29',
 '0:02:29',
 '0:02:30',
 '0:02:31',
 '0:02:31',
 '0:02:31',
 '0:02:31',
 '0:02:33',
 '0:02:33',
 '0:02:34',
 '0:02:35',
 '0:02:35',
 '0:02:38',
 '0:02:39',
 '0:02:39',
 '0:02:40',
 '0:02:40',
 '0:02:40',
 '0:02:41',
 '0:02:41',
 '0:02:41',
 '0:02:42',
 '0:02:42',
 '0:02:42',
 '0:02:42',
 '0:02:42',
 '0:02:42',
 '0:02:43',
 '0:02:43',
 '0:02:43',
 '0:02:43',
 '0:02:44',
 '0:02:44',
 '0:02:45',
 '0:02:45',
 '0:02:45',
 '0:02:45',
 '0:02:47',
 '0:02:48',
 '0:02:48',
 '0:02:48',
 '0:02:48',
 '0:02:48',
 '0:02:49',
 '0:02:49',
 '0:02:49',
 '0:02:49',
 '0:02:49',
 '0:02:50',
 '0:02:50',
 '0:02:50',
 '0:02:50',
 '0:02:50',
 '0:02:50',
 '0:02:51',
 '0:02:52',
 '0:02:52',
 '0:02:53',
 '0:02:53',
 '0:02:53',
 '0:02:54',
 '0:02:54',
 '0:02:55',
 '0:02:55',
 '0:02:56',
 '0:02:56',
 '0:02:57',
 '0:02:57',
 '0:02:57',
 '0:02:58',
 '0:02:58',
 '0:02:59',
 '0:02:59',
 '0:02:59',
 '0:02:59',
 '0:03:00',
 '0:03:00',
 '0:03:00',
 '0:03:01',
 '0:03:01',
 '0:03:02',
 '0:03:02',
 '0:03:03',
 '0:03:03',
 '0:03:03',
 '0:03:03',
 '0:03:04',
 '0:03:04',
 '0:03:04',
 '0:03:04',
 '0:03:05',
 '0:03:05',
 '0:03:06',
 '0:03:06',
 '0:03:06',
 '0:03:07',
 '0:03:07',
 '0:03:07',
 '0:03:08',
 '0:03:08',
 '0:03:08',
 '0:03:08',
 '0:03:08',
 '0:03:09',
 '0:03:10',
 '0:03:10',
 '0:03:10',
 '0:03:11',
 '0:03:11',
 '0:03:11',
 '0:03:11',
 '0:03:12',
 '0:03:12',
 '0:03:13',
 '0:03:13',
 '0:03:13',
 '0:03:14',
 '0:03:14',
 '0:03:14',
 '0:03:15',
 '0:03:15',
 '0:03:15',
 '0:03:15',
 '0:03:16',
 '0:03:16',
 '0:03:16',
 '0:03:17',
 '0:03:17',
 '0:03:17',
 '0:03:17',
 '0:03:17',
 '0:03:18',
 '0:03:18',
 '0:03:18',
 '0:03:18',
 '0:03:19',
 '0:03:19',
 '0:03:19',
 '0:03:20',
 '0:03:20',
 '0:03:20',
 '0:03:21',
 '0:03:21',
 '0:03:21',
 '0:03:21',
 '0:03:21',
 '0:03:21',
 '0:03:22',
 '0:03:22',
 '0:03:23',
 '0:03:23',
 '0:03:23',
 '0:03:23',
 '0:03:23',
 '0:03:23',
 '0:03:23',
 '0:03:23',
 '0:03:24',
 '0:03:24',
 '0:03:24',
 '0:03:25',
 '0:03:25',
 '0:03:25',
 '0:03:25',
 '0:03:25',
 '0:03:26',
 '0:03:26',
 '0:03:27',
 '0:03:27',
 '0:03:28',
 '0:03:28',
 '0:03:28',
 '0:03:29',
 '0:03:29',
 '0:03:30',
 '0:03:30',
 '0:03:30',
 '0:03:31',
 '0:03:32',
 '0:03:33',
 '0:03:33',
 '0:03:33',
 '0:03:33',
 '0:03:34',
 '0:03:34',
 '0:03:35',
 '0:03:35',
 '0:03:35',
 '0:03:35',
 '0:03:36',
 '0:03:36',
 '0:03:36',
 '0:03:36',
 '0:03:36',
 '0:03:37',
 '0:03:37',
 '0:03:37',
 '0:03:37',
 '0:03:37',
 '0:03:38',
 '0:03:39',
 '0:03:39',
 '0:03:39',
 '0:03:39',
 '0:03:39',
 '0:03:39',
 '0:03:39',
 '0:03:39',
 '0:03:40',
 '0:03:40',
 '0:03:40',
 '0:03:40',
 '0:03:40',
 '0:03:41',
 '0:03:41',
 '0:03:41',
 '0:03:42',
 '0:03:42',
 '0:03:42',
 '0:03:43',
 '0:03:43',
 '0:03:43',
 '0:03:44',
 '0:03:44',
 '0:03:44',
 '0:03:44',
 '0:03:46',
 '0:03:46',
 '0:03:46',
 '0:03:46',
 '0:03:46',
 '0:03:46',
 '0:03:46',
 '0:03:46',
 '0:03:47',
 '0:03:47',
 '0:03:47',
 '0:03:47',
 '0:03:47',
 '0:03:47',
 '0:03:48',
 '0:03:48',
 '0:03:49',
 '0:03:50',
 '0:03:50',
 '0:03:50',
 '0:03:51',
 '0:03:51',
 '0:03:51',
 '0:03:51',
 '0:03:51',
 '0:03:52',
 '0:03:53',
 '0:03:53',
 '0:03:53',
 '0:03:54',
 '0:03:54',
 '0:03:54',
 '0:03:55',
 '0:03:55',
 '0:03:55',
 '0:03:55',
 '0:03:56',
 '0:03:56',
 '0:03:56',
 '0:03:56',
 '0:03:56',
 '0:03:56',
 '0:03:56',
 '0:03:57',
 '0:03:58',
 '0:03:58',
 '0:03:59',
 '0:03:59',
 '0:03:59',
 '0:04:00',
 '0:04:00',
 '0:04:00',
 '0:04:00',
 '0:04:00',
 '0:04:01',
 '0:04:02',
 '0:04:02',
 '0:04:02',
 '0:04:02',
 '0:04:02',
 '0:04:02',
 '0:04:03',
 '0:04:04',
 '0:04:04',
 '0:04:05',
 '0:04:07',
 '0:04:07',
 '0:04:07',
 '0:04:08',
 '0:04:08',
 '0:04:08',
 '0:04:09',
 '0:04:09',
 '0:04:09',
 '0:04:09',
 '0:04:09',
 '0:04:09',
 '0:04:10',
 '0:04:10',
 '0:04:10',
 '0:04:11',
 '0:04:11',
 '0:04:12',
 '0:04:12',
 '0:04:13',
 '0:04:13',
 '0:04:13',
 '0:04:13',
 '0:04:14',
 '0:04:14',
 '0:04:14',
 '0:04:14',
 '0:04:15',
 '0:04:15',
 '0:04:16',
 '0:04:17',
 '0:04:17',
 '0:04:18',
 '0:04:18',
 '0:04:19',
 '0:04:19',
 '0:04:20',
 '0:04:21',
 '0:04:21',
 '0:04:21',
 '0:04:22',
 '0:04:22',
 '0:04:22',
 '0:04:22',
 '0:04:23',
 '0:04:24',
 '0:04:24',
 '0:04:24',
 '0:04:24',
 '0:04:25',
 '0:04:25',
 '0:04:25',
 '0:04:25',
 '0:04:25',
 '0:04:26',
 '0:04:26',
 '0:04:26',
 '0:04:26',
 '0:04:28',
 '0:04:28',
 '0:04:28',
 '0:04:29',
 '0:04:29',
 '0:04:30',
 '0:04:31',
 '0:04:32',
 '0:04:33',
 '0:04:33',
 '0:04:33',
 '0:04:34',
 '0:04:34',
 '0:04:35',
 '0:04:35',
 '0:04:35',
 '0:04:35',
 '0:04:35',
 '0:04:36',
 '0:04:36',
 '0:04:36',
 '0:04:36',
 '0:04:37',
 '0:04:37',
 '0:04:37',
 '0:04:37',
 '0:04:38',
 '0:04:38',
 '0:04:38',
 '0:04:39',
 '0:04:39',
 '0:04:40',
 '0:04:41',
 '0:04:41',
 '0:04:41',
 '0:04:41',
 '0:04:42',
 '0:04:42',
 '0:04:42',
 '0:04:45',
 '0:04:45',
 '0:04:46',
 '0:04:46',
 '0:04:46',
 '0:04:46',
 '0:04:46',
 '0:04:46',
 '0:04:47',
 '0:04:47',
 '0:04:47',
 '0:04:47',
 '0:04:47',
 '0:04:48',
 '0:04:49',
 '0:04:49',
 '0:04:49',
 '0:04:49',
 '0:04:50',
 '0:04:50',
 '0:04:50',
 '0:04:50',
 '0:04:50',
 '0:04:51',
 '0:04:52',
 '0:04:52',
 '0:04:52',
 '0:04:53',
 '0:04:53',
 '0:04:53',
 '0:04:54',
 '0:04:55',
 '0:04:56',
 '0:04:56',
 '0:04:56',
 '0:04:58',
 '0:04:58',
 '0:04:58',
 '0:04:59',
 '0:04:59',
 '0:04:59',
 '0:05:00',
 '0:05:00',
 '0:05:00',
 '0:05:00',
 '0:05:01',
 '0:05:02',
 '0:05:02',
 '0:05:02',
 '0:05:03',
 '0:05:03',
 '0:05:03',
 '0:05:04',
 '0:05:04',
 '0:05:04',
 '0:05:04',
 '0:05:04',
 '0:05:05',
 '0:05:05',
 '0:05:06',
 '0:05:07',
 '0:05:07',
 '0:05:08',
 '0:05:08',
 '0:05:09',
 '0:05:09',
 '0:05:09',
 '0:05:10',
 '0:05:11',
 '0:05:11',
 '0:05:11',
 '0:05:11',
 '0:05:11',
 '0:05:12',
 '0:05:12',
 '0:05:13',
 '0:05:13',
 '0:05:13',
 '0:05:14',
 '0:05:14',
 '0:05:14',
 '0:05:14',
 '0:05:15',
 '0:05:15',
 '0:05:16',
 '0:05:17',
 '0:05:17',
 '0:05:17',
 '0:05:19',
 '0:05:19',
 '0:05:19',
 '0:05:19',
 '0:05:19',
 '0:05:19',
 '0:05:19',
 '0:05:20',
 '0:05:21',
 '0:05:22',
 '0:05:22',
 '0:05:22',
 '0:05:22',
 '0:05:23',
 '0:05:23',
 '0:05:23',
 '0:05:23',
 '0:05:23',
 '0:05:23',
 '0:05:24',
 '0:05:24',
 '0:05:25',
 '0:05:25',
 '0:05:26',
 '0:05:26',
 '0:05:27',
 '0:05:28',
 '0:05:28',
 '0:05:29',
 '0:05:29',
 '0:05:29',
 '0:05:30',
 '0:05:30',
 '0:05:30',
 '0:05:31',
 '0:05:31',
 '0:05:31',
 '0:05:31',
 '0:05:32',
 '0:05:33',
 '0:05:33',
 '0:05:33',
 '0:05:34',
 '0:05:34',
 '0:05:35',
 '0:05:35',
 '0:05:35',
 '0:05:35',
 '0:05:36',
 '0:05:36',
 '0:05:36',
 '0:05:38',
 '0:05:38',
 '0:05:38',
 '0:05:38',
 '0:05:39',
 '0:05:39',
 '0:05:39',
 '0:05:40',
 '0:05:40',
 '0:05:40',
 '0:05:41',
 '0:05:42',
 '0:05:42',
 '0:05:43',
 '0:05:43',
 '0:05:44',
 '0:05:45',
 '0:05:45',
 '0:05:45',
 '0:05:45',
 '0:05:45',
 '0:05:45',
 '0:05:46',
 '0:05:46',
 '0:05:47',
 '0:05:47',
 '0:05:47',
 '0:05:48',
 '0:05:49',
 '0:05:49',
 '0:05:49',
 '0:05:50',
 '0:05:51',
 '0:05:52',
 '0:05:52',
 '0:05:53',
 '0:05:53',
 '0:05:53',
 '0:05:53',
 '0:05:54',
 '0:05:54',
 '0:05:54',
 '0:05:54',
 '0:05:57',
 '0:05:57',
 '0:05:57',
 '0:05:57',
 '0:05:57',
 '0:05:58',
 '0:05:59',
 '0:06:00',
 '0:06:01',
 '0:06:01',
 '0:06:01',
 '0:06:01',
 '0:06:02',
 '0:06:03',
 '0:06:03',
 '0:06:04',
 '0:06:05',
 '0:06:05',
 '0:06:06',
 '0:06:06',
 '0:06:07',
 '0:06:07',
 '0:06:09',
 '0:06:09',
 '0:06:09',
 '0:06:10',
 '0:06:10',
 '0:06:11',
 '0:06:11',
 '0:06:11',
 '0:06:12',
 '0:06:13',
 '0:06:13',
 '0:06:13',
 '0:06:13',
 '0:06:15',
 '0:06:15',
 '0:06:15',
 '0:06:16',
 '0:06:16',
 '0:06:18',
 '0:06:18',
 '0:06:18',
 '0:06:19',
 '0:06:19',
 '0:06:19',
 '0:06:20',
 '0:06:20',
 '0:06:20',
 '0:06:21',
 '0:06:21',
 '0:06:21',
 '0:06:21',
 '0:06:21',
 '0:06:22',
 '0:06:24',
 '0:06:24',
 '0:06:24',
 '0:06:25',
 '0:06:25',
 '0:06:25',
 '0:06:26',
 '0:06:27',
 '0:06:27',
 '0:06:27',
 '0:06:27',
 '0:06:28',
 '0:06:28',
 '0:06:28',
 '0:06:28',
 '0:06:28',
 '0:06:29',
 '0:06:30',
 '0:06:30',
 '0:06:30',
 '0:06:31',
 '0:06:31',
 '0:06:32',
 '0:06:32',
 '0:06:33',
 '0:06:34',
 '0:06:34',
 '0:06:35',
 '0:06:35',
 '0:06:36',
 '0:06:37',
 '0:06:38',
 '0:06:38',
 '0:06:38',
 '0:06:38',
 '0:06:42',
 '0:06:42',
 '0:06:42',
 '0:06:43',
 '0:06:44',
 '0:06:44',
 '0:06:46',
 '0:06:46',
 '0:06:47',
 '0:06:48',
 '0:06:48',
 '0:06:48',
 '0:06:48',
 '0:06:48',
 '0:06:48',
 '0:06:48',
 '0:06:48',
 '0:06:48',
 '0:06:48',
 '0:06:49',
 '0:06:49',
 '0:06:49',
 '0:06:49',
 '0:06:49',
 '0:06:49',
 '0:06:50',
 '0:06:50',
 '0:06:50',
 '0:06:50',
 '0:06:50',
 '0:06:50',
 '0:06:51',
 '0:06:51',
 '0:06:51',
 '0:06:51',
 '0:06:52',
 '0:06:52',
 '0:06:52',
 '0:06:52',
 '0:06:52',
 '0:06:52',
 '0:06:53',
 '0:06:53',
 '0:06:53',
 '0:06:53',
 '0:06:54',
 '0:06:54',
 '0:06:54',
 '0:06:54',
 '0:06:54',
 '0:06:54',
 '0:06:55',
 '0:06:55',
 '0:06:57',
 '0:06:57',
 '0:06:57',
 '0:06:57',
 '0:06:58',
 '0:06:58',
 '0:06:58',
 '0:07:00',
 '0:07:00',
 '0:07:01',
 '0:07:01',
 '0:07:01',
 '0:07:01',
 '0:07:02',
 '0:07:02',
 '0:07:02',
 '0:07:02',
 '0:07:02',
 '0:07:03',
 '0:07:03',
 '0:07:03',
 '0:07:03',
 '0:07:04',
 '0:07:04',
 '0:07:05',
 '0:07:05',
 '0:07:05',
 '0:07:05',
 '0:07:05',
 '0:07:07',
 '0:07:08',
 '0:07:08',
 '0:07:09',
 '0:07:09',
 '0:07:11',
 '0:07:11',
 '0:07:11',
 '0:07:12',
 '0:07:12',
 '0:07:12',
 '0:07:13',
 '0:07:13',
 '0:07:13',
 '0:07:14',
 '0:07:14',
 '0:07:15',
 '0:07:15',
 '0:07:16',
 '0:07:16',
 '0:07:16',
 '0:07:17',
 '0:07:17',
 '0:07:17',
 '0:07:18',
 '0:07:18',
 '0:07:19',
 '0:07:19',
 '0:07:19',
 '0:07:20',
 '0:07:20',
 '0:07:22',
 '0:07:22',
 '0:07:22',
 '0:07:23',
 '0:07:23',
 '0:07:23',
 '0:07:23',
 '0:07:24',
 '0:07:24',
 '0:07:25',
 '0:07:25',
 '0:07:25',
 '0:07:25',
 '0:07:26',
 '0:07:27',
 '0:07:27',
 '0:07:27',
 '0:07:27',
 '0:07:28',
 '0:07:28',
 '0:07:29',
 '0:07:30',
 '0:07:30',
 '0:07:32',
 '0:07:33',
 '0:07:35',
 '0:07:35',
 '0:07:35',
 '0:07:35',
 '0:07:36',
 '0:07:36',
 '0:07:36',
 '0:07:36',
 '0:07:37',
 '0:07:37',
 '0:07:37',
 '0:07:37',
 '0:07:37',
 '0:07:37',
 '0:07:37',
 ...]

In [286]:
for i in range(len(time)):
    time[i] = time[i][1:]

# 1-2. OCR을 이용해 영상에서 정보 추출

In [40]:
def ocr1(frame):
#     스코어 ocr용 함수
    board=frame[:25,1550:1905]
    width = board.shape[1]
    score=board[:,5:int(width*0.21)]

    sharpening = np.array([[-1, -1, -1], [-1, 8, -1], [-1, -1, -1]])
    sharp = cv2.filter2D(score, -1, sharpening)

    fx=4
    fy=4
    resize=cv2.resize(sharp, dsize=(0,0), fx=fx,fy=fy)

    gray = cv2.cvtColor(resize, cv2.COLOR_RGB2GRAY)

    blur = cv2.GaussianBlur(gray, (3, 3), 0)
    _, th = cv2.threshold(blur, 0, 255,  cv2.THRESH_OTSU+cv2.THRESH_BINARY_INV)
    
    str_score = [pytesseract.image_to_string(th)]
    return str_score

In [41]:
def ocr2(frame):
#     kda, 시간 ocr 함수
    board=frame[:25,1550:1905]
    gray = cv2.cvtColor(board, cv2.COLOR_RGB2GRAY)

    fx=4
    fy=4

    board=cv2.resize(gray, dsize=(0,0), fx=fx,fy=fy)

    img_blur = cv2.GaussianBlur(board, (3,3), 0)
    _, board = cv2.threshold(img_blur, 0, 255, cv2.THRESH_BINARY_INV + cv2.THRESH_OTSU)

    width = board.shape[1]

    kda = board[:,int(width*0.32):int(width*0.48)]
    
    data = []
    str_kda = pytesseract.image_to_string(kda)
    data.append(str_kda)
    
    time = board[:,int(width*0.87):]
    str_time = pytesseract.image_to_string(time)
    data.append(str_time)

    return data

In [42]:
def ocr3(frame):
#     골드 ocr 함수
    gold=frame[1047:1070,1180:1237]
    gray = cv2.cvtColor(gold, cv2.COLOR_RGB2GRAY)
    
    fx=4
    fy=4
    resize=cv2.resize(gray, dsize=(0,0), fx=fx,fy=fy)
    blur = cv2.GaussianBlur(resize, (3, 3), 0)
    _, th = cv2.threshold(blur, 0, 255,  cv2.THRESH_OTSU+cv2.THRESH_BINARY_INV)

    str_gold = [pytesseract.image_to_string(th)]
    return str_gold

In [283]:
# 동영상 프로세싱
cap = cv2.VideoCapture('video/full.mp4')

starttime = '2:06:38'
endtime = '2:22:11'

timemsec = time_msec(starttime)
cap.set(cv2.CAP_PROP_POS_MSEC, timemsec)

i=0
datalist=[]
while (cap.isOpened):
    i += 1
    ret, frame = cap.read()
    if ret:
        score = ocr1(frame)
        kda_time = ocr2(frame)
        gold = ocr3(frame)
        vid_time = [cap.get(cv2.CAP_PROP_POS_MSEC)]
        data = score + kda_time + gold + vid_time
        datalist.append(data)
        if i%60 == 0:
            print(data)
        
        timemsec += 1000
        cap.set(cv2.CAP_PROP_POS_MSEC, timemsec)
        
        if vid_time[0] > time_msec(endtime):
            break
    else:
        break

['O vsQ', '0/0/0', '01:10', '', 7657001.0]
['0 vsO', '0/0/0', '02:10', '', 7717001.0]
['Ovs2', '2/0/0', '03:10', '1217', 7777001.0]
['', '2/0/0', '04:10', '1264', 7837001.0]
['T vs4', '3/0/0', '05:10', '1835', 7897001.0]
['Ol', '4/0/0', '06:10', '707', 7957001.0]
['2Z2vs6', '5/0/0', '07%', '39', 8017001.0]
['Avs/', '5/0/0', '08:10', '415', 8077001.0]
['Avs /', '5/0/0', '09:10', '875', 8137001.0]
['Avs8', '6/0/0', '10:10', '605', 8197001.0]
['4vs8', '6/0/0', '11:10', '415', 8257001.0]
['5 vs 13', '6/1/2', '12:10', '707', 8317001.0]
['5 vs 15', '7/1/3', '13:10', '1345', 8377001.0]
['Bvs19', '8/1/4', '14:10', '1186', 8437001.0]
['5 vs 19', '8/1/4', '15:10', '1923', 8497001.0]

# 2-1. 수집된 데이터 가공(필터링)

In [287]:
df=pd.DataFrame(datalist)
df

           0      1      2     3          4
0      (, vs  0/0/0  00:11   500  7598000.0
1       Avs0  0/0/0  00:12        7599001.0
2      0 vsO  0/0/0  00:13        7600000.0
3      O vsO  0/0/0  00:14        7601001.0
4       Ovsd  0/0/0  00:15        7602000.0
..       ...    ...    ...   ...        ...
929    Bvs22  8/1/5  15:40  2209  8527001.0
930    Bvs22  8/1/5  15:41  2211  8528000.0
931    Bvs22  8/1/5  15:42  2213  8529001.0
932  5 vs 22  8/1/5  15:43  2215  8530000.0
933  5 vs 22  8/1/5  15:44  2217  8531001.0

[934 rows x 5 columns]

In [288]:
# kda 제대로 출력되었는지 확인. 세 값이 모두 있지 않을경우 Na처리.
for i in range(len(df)):
    if len(df[1][i].split('/'))!=3:
        df[1][i]=np.nan
df

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

           0      1      2     3          4
0      (, vs  0/0/0  00:11   500  7598000.0
1       Avs0  0/0/0  00:12        7599001.0
2      0 vsO  0/0/0  00:13        7600000.0
3      O vsO  0/0/0  00:14        7601001.0
4       Ovsd  0/0/0  00:15        7602000.0
..       ...    ...    ...   ...        ...
929    Bvs22  8/1/5  15:40  2209  8527001.0
930    Bvs22  8/1/5  15:41  2211  8528000.0
931    Bvs22  8/1/5  15:42  2213  8529001.0
932  5 vs 22  8/1/5  15:43  2215  8530000.0
933  5 vs 22  8/1/5  15:44  2217  8531001.0

[934 rows x 5 columns]

In [289]:
# score를 vs 기준으로 나누고, kda를 / 기준으로 나눠서 새로운 col 생성
df['fr']=df[0].str.split('vs').str[0]
df['en']=df[0].str.split('vs').str[1]
df['k']=df[1].str.split('/').str[0]
df['d']=df[1].str.split('/').str[1]
df['a']=df[1].str.split('/').str[2]

In [290]:
# object 타입을 숫자로 변환. 숫자가 아닐시 강제로(Na)
df['fr']=pd.to_numeric(df['fr'], errors='coerce')
df['en']=pd.to_numeric(df['en'], errors='coerce')
df['k']=pd.to_numeric(df['k'], errors='coerce')
df['d']=pd.to_numeric(df['d'], errors='coerce')
df['a']=pd.to_numeric(df['a'], errors='coerce')
df[3]=pd.to_numeric(df[3], errors='coerce')

In [291]:
# 시간을 분:초 형식으로 바꾸는건데. 안해도 될것같음.
df['time']=df[4].map(lambda x : str(datetime.timedelta(milliseconds = (x//1000)*1000)))
df

,0,1,2,3,4,fr,en,k,d,a,time
0,"(, vs",0/0/0,00:11,500.0,7598000.0,NaN,NaN,0.0,0.0,0.0,2:06:38
1,Avs0,0/0/0,00:12,NaN,7599001.0,NaN,0.0,0.0,0.0,0.0,2:06:39
2,0 vsO,0/0/0,00:13,NaN,7600000.0,0.0,NaN,0.0,0.0,0.0,2:06:40
3,O vsO,0/0/0,00:14,NaN,7601001.0,NaN,NaN,0.0,0.0,0.0,2:06:41
4,Ovsd,0/0/0,00:15,NaN,7602000.0,NaN,NaN,0.0,0.0,0.0,2:06:42
...,...,...,...,...,...,...,...,...,...,...,...
929,Bvs22,8/1/5,15:40,2209.0,8527001.0,NaN,22.0,8.0,1.0,5.0,2:22:07
930,Bvs22,8/1/5,15:41,2211.0,8528000.0,NaN,22.0,8.0,1.0,5.0,2:22:08
931,Bvs22,8/1/5,15:42,2213.0,8529001.0,NaN,22.0,8.0,1.0,5.0,2:22:09
932,5 vs 22,8/1/5,15:43,2215.0,8530000.0,5.0,22.0,8.0,1.0,5.0,2:22:10
933,5 vs 22,8/1/5,15:44,2217.0,8531001.0,5.0,22.0,8.0,1.0,5.0,2:22:11

In [292]:
# 시간을 인덱스로 사용
df.set_index('time', inplace=True)
df

               0      1      2       3          4   fr    en    k    d    a
time
2:06:38    (, vs  0/0/0  00:11   500.0  7598000.0  NaN   NaN  0.0  0.0  0.0
2:06:39     Avs0  0/0/0  00:12     NaN  7599001.0  NaN   0.0  0.0  0.0  0.0
2:06:40    0 vsO  0/0/0  00:13     NaN  7600000.0  0.0   NaN  0.0  0.0  0.0
2:06:41    O vsO  0/0/0  00:14     NaN  7601001.0  NaN   NaN  0.0  0.0  0.0
2:06:42     Ovsd  0/0/0  00:15     NaN  7602000.0  NaN   NaN  0.0  0.0  0.0
...          ...    ...    ...     ...        ...  ...   ...  ...  ...  ...
2:22:07    Bvs22  8/1/5  15:40  2209.0  8527001.0  NaN  22.0  8.0  1.0  5.0
2:22:08    Bvs22  8/1/5  15:41  2211.0  8528000.0  NaN  22.0  8.0  1.0  5.0
2:22:09    Bvs22  8/1/5  15:42  2213.0  8529001.0  NaN  22.0  8.0  1.0  5.0
2:22:10  5 vs 22  8/1/5  15:43  2215.0  8530000.0  5.0  22.0  8.0  1.0  5.0
2:22:11  5 vs 22  8/1/5  15:44  2217.0  8531001.0  5.0  22.0  8.0  1.0  5.0

[934 rows x 10 columns]

In [305]:
df3.to_excel('df3.xlsx')

In [294]:
# 채팅 dataframe 생성. 인덱스를 타임으로
timeseries = pd.Series(time)
df2 = pd.DataFrame(index=timeseries.unique())
df2['count'] = timeseries.value_counts()

df2.index.name = 'time'

In [295]:
df2

         count
time
0:00:04      1
0:00:05      1
0:00:07      2
0:00:08      1
0:00:09      1
...        ...
2:23:58      3
2:23:59      3
2:24:00      7
2:24:01      3
2:24:02      2

[7668 rows x 1 columns]

In [296]:
# 시간 열을 기준으로 데이터 합치기
df3 = pd.merge(df,df2,on='time')

In [297]:
df3

,0,1,2,3,4,fr,en,k,d,a,count
time,,,,,,,,,,,
2:06:38,"(, vs",0/0/0,00:11,500.0,7598000.0,NaN,NaN,0.0,0.0,0.0,2
2:06:39,Avs0,0/0/0,00:12,NaN,7599001.0,NaN,0.0,0.0,0.0,0.0,4
2:06:40,0 vsO,0/0/0,00:13,NaN,7600000.0,0.0,NaN,0.0,0.0,0.0,2
2:06:41,O vsO,0/0/0,00:14,NaN,7601001.0,NaN,NaN,0.0,0.0,0.0,1
2:06:42,Ovsd,0/0/0,00:15,NaN,7602000.0,NaN,NaN,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...
2:22:07,Bvs22,8/1/5,15:40,2209.0,8527001.0,NaN,22.0,8.0,1.0,5.0,3
2:22:08,Bvs22,8/1/5,15:41,2211.0,8528000.0,NaN,22.0,8.0,1.0,5.0,1
2:22:09,Bvs22,8/1/5,15:42,2213.0,8529001.0,NaN,22.0,8.0,1.0,5.0,1
2:22:10,5 vs 22,8/1/5,15:43,2215.0,8530000.0,5.0,22.0,8.0,1.0,5.0,6
2:22:11,5 vs 22,8/1/5,15:44,2217.0,8531001.0,5.0,22.0,8.0,1.0,5.0,3

In [298]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 830 entries, 2:06:38 to 2:22:11
Data columns (total 11 columns):
0        830 non-null object
1        814 non-null object
2        830 non-null object
3        695 non-null float64
4        830 non-null float64
fr       279 non-null float64
en       482 non-null float64
k        814 non-null float64
d        813 non-null float64
a        814 non-null float64
count    830 non-null int64
dtypes: float64(7), int64(1), object(3)
memory usage: 77.8+ KB

# 2-2. Feature Engineering

<img src='fea.jpg'>

In [299]:
df3['d_kda']=pd.Series()
df3['d_gold'] = pd.Series()
df3['n_chat']=pd.Series()

# for i in reversed(range(len(df3))):
#     df3['d_kda'][i] = df3['kda'][i]-df3['kda'][i-15]

for i in range(len(df3)):
    df3['d_gold'][i] = df3[3][i] - df3[3][i-15]

# D_K D_D D_A 컬럼 추가. [i]-[i-15]
df3['d_k']=pd.Series()
for i in reversed(range(len(df3))):
    df3['d_k'][i] = df3['k'][i]-df3['k'][i-15]
df3['d_d']=pd.Series()
for i in reversed(range(len(df3))):
    df3['d_d'][i] = df3['d'][i]-df3['d'][i-15] 
df3['d_a']=pd.Series()
for i in reversed(range(len(df3))):
    df3['d_a'][i] = df3['a'][i]-df3['a'][i-15]
    
# 채팅 1~15값 더하기
for i in range(len(df3)):
    df3['n_chat'][i] = sum(df3['count'][i:i+15])
    
# d_kda 컬럼 전처리. 음수=0, 5이상=0
df3['d_kda'][df3['d_kda']>5] = 0
df3['d_kda'][df3['d_kda']<0] = 0
    
# 5이상과 음수값 없애기
df3['d_k'][df3['d_k']>5] = 0
df3['d_k'][df3['d_k']<0] = 0
df3['d_d'][df3['d_d']>5] = 0
df3['d_d'][df3['d_d']<0] = 0
df3['d_a'][df3['d_a']>5] = 0
df3['d_a'][df3['d_a']<0] = 0

df3['d_gold'][df3['d_gold']<0] = np.nan
df3['d_gold'][df3['d_gold']>2000] = np.nan    

df3['d_kda'] = df3['d_k']+df3['d_d']+df3['d_a']

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [300]:
df3.head()

,0,1,2,3,4,fr,en,k,d,a,count,d_kda,d_gold,n_chat,d_k,d_d,d_a
time,,,,,,,,,,,,,,,,,
2:06:38,"(, vs",0/0/0,00:11,500.0,7598000.0,NaN,NaN,0.0,0.0,0.0,2,0.0,NaN,35.0,0.0,0.0,0.0
2:06:39,Avs0,0/0/0,00:12,NaN,7599001.0,NaN,0.0,0.0,0.0,0.0,4,0.0,NaN,36.0,0.0,0.0,0.0
2:06:40,0 vsO,0/0/0,00:13,NaN,7600000.0,0.0,NaN,0.0,0.0,0.0,2,0.0,NaN,33.0,0.0,0.0,0.0
2:06:41,O vsO,0/0/0,00:14,NaN,7601001.0,NaN,NaN,0.0,0.0,0.0,1,0.0,NaN,33.0,0.0,0.0,0.0
2:06:42,Ovsd,0/0/0,00:15,NaN,7602000.0,NaN,NaN,0.0,0.0,0.0,1,0.0,NaN,34.0,0.0,0.0,0.0

# 2-3. 최종 데이터셋 생성

In [301]:
# 데이터셋 제작.
dataset = df3[['d_kda','d_k','d_d','d_a','d_gold','n_chat']][15:-15]

# 라벨값(누적 채팅수)를 일정 수치를 기준으로 0과 1로 나눔. sigmoid 사용 위해
line = dataset['n_chat'].mean()+dataset['n_chat'].std()
for i in range(len(dataset)):
    if dataset['n_chat'][i] > line :
        dataset['n_chat'][i] = 1
    else :
        dataset['n_chat'][i] = 0
        
# 결측치 제거        
dataset.dropna(axis=0, inplace=True)

# 골드 변화량 수치를 0~1사이의 값으로 줄임
dataset['d_gold'] = dataset['d_gold']/dataset['d_gold'].max()

In [302]:
dataset

         d_kda  d_k  d_d  d_a    d_gold  n_chat
time
2:08:30    0.0  0.0  0.0  0.0  0.026794     0.0
2:08:31    0.0  0.0  0.0  0.0  0.028708     0.0
2:08:36    0.0  0.0  0.0  0.0  0.034450     0.0
2:08:39    0.0  0.0  0.0  0.0  0.056459     0.0
2:08:43    0.0  0.0  0.0  0.0  0.075598     0.0
...        ...  ...  ...  ...       ...     ...
2:21:52    1.0  0.0  0.0  1.0  0.144498     1.0
2:21:53    1.0  0.0  0.0  1.0  0.164593     1.0
2:21:54    1.0  0.0  0.0  1.0  0.163636     1.0
2:21:55    1.0  0.0  0.0  1.0  0.144498     1.0
2:21:56    1.0  0.0  0.0  1.0  0.145455     1.0

[529 rows x 6 columns]

In [303]:
dataset.to_excel('dataset.xlsx')